:root {
  --transition-duration: 200ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
}

body {
  padding-block: 2rem;
  padding-inline: 1rem;
  max-width: 700px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

ul {
  list-style-type: none;
}

li {
  /* width: fit-content; */
  padding-block: 0.7rem;
  border-bottom: 1px solid black;
}

li > * {
  margin-bottom: 1rem;
}

.due-date-container > * {
  margin-bottom: 0.3rem;
}

input[type="text"] {
  border: 0;
  border-bottom: 2px solid black;
  grid-column: 1 / -1;
  padding-block: 1rem;
}

.task-buttons > * {
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition-duration);
  padding: none;
}

#done-button:hover,
#done-button:focus {
  fill: green;
  transition: var(--transition-duration);
}

.task-buttons > *:hover,
#date-input:hover,
.task-buttons > *:focus,
#date-input:focus {
  opacity: 0.5;
  transition: var(--transition-duration);
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.invalid {
  animation: shake 0.2s ease-in-out 0s 2;
  border-bottom: 2px solid red;
}

.remove {
  animation: remove 1s ease-in-out;
}

.important {
  background-color: yellow;
}

.low-opacity {
  opacity: 0.5;
}

@keyframes remove {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
